# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Hello", 12, True, 12.3)

Hello 12 True 12.3

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [3]:
print("Hello", 12, True, 12.3, sep="-")

Hello-12-True-12.3

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [5]:
print("Hello", end=" ")
print(12, end=" ")
print(False, end=" ")
print(56.78)

Hello 12 False 56.78

4) Can a python print function take no value to print???

In [7]:
print()  # Outputs an empty line

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [9]:
name = "Mr. Ahmed"
age = 30
profession = "Lawyer"
degree_year = 2005
firm = "The Himalaya Associates"
location = "Karachi"
start_year = 2015
height = 5.10  # in feet
weight_grams = 70600  # in grams
income_pkr = 200_000

# Print variables for verification
print(name, age, profession, degree_year, firm, location, start_year, height, weight_grams, income_pkr)

Mr. Ahmed 30 Lawyer 2005 The Himalaya Associates Karachi 2015 5.1 70600 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [11]:
current_year = 2024
years_since_graduation = current_year - degree_year
print("Years since graduation:", years_since_graduation)

Years since graduation: 19

7)How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [13]:
years_in_firm = current_year - start_year
print("Years in firm:", years_in_firm)

Years in firm: 9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [15]:
usd_conversion_rate = 300
income_usd = income_pkr / usd_conversion_rate
print("Income in USD:", income_usd)

Income in USD: 666.6666666666666

9)Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [19]:
income_usd_as_integer = int(income_usd)
print("Income in USD (integer):", income_usd_as_integer)

Income in USD (integer): 666

10)Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [21]:
weight_kg = int(weight_grams / 1000)
print("Weight in kilograms:", weight_kg)

Weight in kilograms: 70

11)print the year of birth of Mr. Ahmed.

In [25]:
#type your code here
year_of_birth = current_year - age
print("Year of birth:", year_of_birth)

Year of birth: 1994

12)Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [29]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2
modulo_check = 100 % 6
print("Remainder when Rs. 100 is divided among 6 students:", modulo_check)

Remainder when Rs. 100 is divided among 6 students: 4

                       Saylani Mass IT 
             Name   : kUNAL
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332969

In [2]:
print("""
                       Saylani Mass IT 
             Name   : kUNAL
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332969 
""")

                       Saylani Mass IT
             Name   : kUNAL
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332969